node-red/flows/flows_pi-office.json
[{"id":"9fdc1b4.b71e5e8","type":"tab","label":"Notifications"},{"id":"4d65f3c.679700c","type":"mqtt-broker","z":"9fdc1b4.b71e5e8","broker":"192.168.0.3","port":"1883","clientid":"office","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3df4c687.50cf4a","type":"mqtt in","z":"9fdc1b4.b71e5e8","name":"","topic":"wsn/+/status","qos":"2","broker":"4d65f3c.679700c","x":169,"y":251,"wires":[["d0fcba72.6f78d8"]]},{"id":"868b18b3.647a78","type":"exec","z":"9fdc1b4.b71e5e8","command":"/home/pi/bin/speak.sh ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Speak","x":1197,"y":841,"wires":[["277c5bed.d9f554","aee6374b.64c8c8","89165507.18f118"],[],[]]},{"id":"afd6b972.a93048","type":"function","z":"9fdc1b4.b71e5e8","name":"Transform message","func":"msg.payload=\"'\" + msg.payload.toLowerCase() + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":617,"wires":[["fd3296af.025df8"]]},{"id":"aee6374b.64c8c8","type":"debug","z":"9fdc1b4.b71e5e8","name":"","active":true,"console":"false","complete":"oldVolume","x":1664,"y":998,"wires":[]},{"id":"d0fcba72.6f78d8","type":"function","z":"9fdc1b4.b71e5e8","name":"Extract sensor name","func":"var queue = msg.topic;\nmsg.sensor = queue.split('/')[1];\nmsg.debugLog = msg.sensor + \": \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":314,"wires":[["f5fe71bc.7893b"]]},{"id":"2abf7e4d.f49b22","type":"debug","z":"9fdc1b4.b71e5e8","name":"","active":false,"console":"false","complete":"debugLog","x":1722,"y":282,"wires":[]},{"id":"f5fe71bc.7893b","type":"function","z":"9fdc1b4.b71e5e8","name":"Update Status","func":"var status = global.get('status');\nif (!status) {\n    status = {};\n    global.set('status', status);\n}\n\nif (msg.sensor == 'MusicPlayOffice') {\n    status.playback = msg.payload;\n} else if (msg.sensor == 'MusicVolumeOffice') {\n    status.volume = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1315.9999694824219,"y":280,"wires":[["2abf7e4d.f49b22","2f323da4.2f1a82"]]},{"id":"bac259ec.180268","type":"http request","z":"9fdc1b4.b71e5e8","name":"Get Player Volume","method":"GET","ret":"obj","url":"http://192.168.0.3:9080/rest/items/MusicVolumeOffice","tls":"","x":1313,"y":602,"wires":[["4f38731c.a5f6ec"]]},{"id":"2e3d7439.559f8c","type":"switch","z":"9fdc1b4.b71e5e8","name":"Is Player Volume Low?","property":"volume","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":919,"y":835,"wires":[["c20e39d8.59f648","d9efcdc5.f0672"],["868b18b3.647a78"]]},{"id":"e7cf1d58.88683","type":"mqtt out","z":"9fdc1b4.b71e5e8","name":"Control  playback","topic":"","qos":"","retain":"","broker":"4d65f3c.679700c","x":1728,"y":704,"wires":[]},{"id":"c20e39d8.59f648","type":"delay","z":"9fdc1b4.b71e5e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":908,"y":969,"wires":[["fd3296af.025df8"]]},{"id":"fd3296af.025df8","type":"function","z":"9fdc1b4.b71e5e8","name":"Read Player Volume","func":"var status = global.get('status');\nif (status) {\n    msg.volume = status.volume;\n    if (!msg.oldVolume) {\n        msg.oldVolume = status.volume;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":732,"wires":[["9fa96c30.186b6"]]},{"id":"f2d17b40.79e7d8","type":"function","z":"9fdc1b4.b71e5e8","name":"Request JSON response","func":"msg.headers = {\n    Accept: 'application/json'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1081,"y":600,"wires":[["bac259ec.180268"]]},{"id":"4f38731c.a5f6ec","type":"function","z":"9fdc1b4.b71e5e8","name":"Extract Volume","func":"msg.payload = msg.payload.state;\nmsg.sensor = 'MusicVolumeOffice';\nmsg.debugLog = msg.sensor + \": \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1368.9999694824219,"y":458,"wires":[["f5fe71bc.7893b"]]},{"id":"d9efcdc5.f0672","type":"function","z":"9fdc1b4.b71e5e8","name":"Lower Volume","func":"msg.payload = '20';\nmsg.topic = 'wsn/MusicVolumeOffice/commandIn';\n\nreturn msg;","outputs":1,"noerr":0,"x":1476,"y":687,"wires":[["e7cf1d58.88683"]]},{"id":"81f39d18.3e06a","type":"delay","z":"9fdc1b4.b71e5e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1425,"y":825,"wires":[["bbff7b31.c4f788"]]},{"id":"bbff7b31.c4f788","type":"function","z":"9fdc1b4.b71e5e8","name":"Increase Volume","func":"msg.payload = msg.oldVolume;\nmsg.topic = 'wsn/MusicVolumeOffice/commandIn';\n\nreturn msg;","outputs":1,"noerr":0,"x":1468.9999694824219,"y":735.0000228881836,"wires":[["e7cf1d58.88683"]]},{"id":"277c5bed.d9f554","type":"switch","z":"9fdc1b4.b71e5e8","name":"Was volume lowered?","property":"volume","propertyType":"msg","rules":[{"t":"neq","v":"oldVolume","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":1416.8333740234375,"y":892.6666870117188,"wires":[["81f39d18.3e06a","aee6374b.64c8c8"],[]]},{"id":"edea2bd0.2b4a88","type":"function","z":"9fdc1b4.b71e5e8","name":"Generate Switch Message","func":"if (msg.sensor == 'Switch2') {\n    msg.payload = 'Switch has turned ' + msg.payload;\n}\nreturn msg;","outputs":"1","noerr":0,"x":273.8333435058594,"y":618.3333740234375,"wires":[["afd6b972.a93048"]]},{"id":"2f323da4.2f1a82","type":"switch","z":"9fdc1b4.b71e5e8","name":"Alert Router","property":"sensor","propertyType":"msg","rules":[{"t":"regex","v":"^Switch.*","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":2,"x":262.83331298828125,"y":504.3333740234375,"wires":[["f2d17b40.79e7d8","edea2bd0.2b4a88"],[]]},{"id":"9fa96c30.186b6","type":"switch","z":"9fdc1b4.b71e5e8","name":"Is player volume available?","property":"volume","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":619,"y":838,"wires":[["2e3d7439.559f8c"],["c182f95c.04d7b8"]]},{"id":"c182f95c.04d7b8","type":"delay","z":"9fdc1b4.b71e5e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":591,"y":972,"wires":[[]]},{"id":"89165507.18f118","type":"debug","z":"9fdc1b4.b71e5e8","name":"","active":true,"console":"false","complete":"volume","x":1624,"y":1144,"wires":[]}]